.header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
	height: var(--Header-size, 80px);
	justify-content: space-between;
	box-sizing: border-box;
	/* border: palevioletred 1px solid; */
	display: flex;
}

/* From Uiverse.io by Mhyar-nsi */ 
.loader {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: 25px;
	position: relative;
	justify-content: center;
	box-sizing: border-box;
	margin-top:30px;
}

@keyframes loader-bubbles {
  0% {
    box-shadow: 0 -15px #5e41eb,
                4.5px 0 #5e41eb,
                7.5px 0 #5e41eb;
  }

  30% {
    box-shadow: 4.5px -30px rgba(239,223,255,0),
                7.5px -15px #5e41eb,
                7.5px 0 #5e41eb;
  }

  60% {
    box-shadow: 4.5px 0 rgba(239,223,255,0),
                6px -30px rgba(239,223,255,0),
                4.5px -15px #5e41eb;
  }

  61% {
    box-shadow: 4.5px 0 #5e41eb,
                6px -30px rgba(239,223,255,0),
                4.5px -15px #3b82f6;
  }

  100% {
    box-shadow: 0 -15px #5e41eb,
                6px -30px rgba(239,223,255,0),
                7.5px -30px rgba(239,223,255,0);
  }
}

.loader {
  width: 15px; /* 50% bigger */
  height: 30px; /* 50% bigger */
  margin-left: 30px; /* 50% bigger */
  margin-right: 30px; /* 50% bigger */
  background: #5e41eb;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
}

.loader:before {
  top: -12px; /* 50% bigger */
  left: -19.5px; /* 50% bigger */
  width: 0;
  height: 0;
  border: 27px solid transparent; /* 50% bigger */
  border-bottom: 30px solid #5e41eb; /* 50% bigger */
  border-radius: 4.5px; /* 50% bigger */
}

.loader:after {
  top: 0;
  left: 0;
  width: 6px; /* 50% bigger */
  height: 6px; /* 50% bigger */
  background: #5e41eb;
  border-radius: 50%;
  animation: loader-bubbles 1s linear infinite forwards;
}
