.header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
	height: var(--Header-size, 80px);
	justify-content: space-between;
	box-sizing: border-box;
	/* border: palevioletred 1px solid; */
	display: flex;
}


/* From Uiverse.io by Mhyar-nsi */ 
.loader {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: 25px;
	position: relative;
	justify-content: center;
	box-sizing: border-box;
	
	

}

@keyframes loader-bubbles {
  0% {
    box-shadow: 0 -10px #5e41eb,
                3px 0 #5e41eb,
                5px 0 #5e41eb;
  }

  30% {
    box-shadow: 3px -20px rgba(239,223,255,0),
                5px -10px #5e41eb,
                5px 0 #5e41eb;
  }

  60% {
    box-shadow: 3px 0 rgba(239,223,255,0),
                4px -20px rgba(239,223,255,0),
                3px -10px #5e41eb;
  }

  61% {
    box-shadow: 3px 0 #5e41eb,
                4px -20px rgba(239,223,255,0),
                3px -10px #3b82f6;
  }

  100% {
    box-shadow: 0 -10px #5e41eb,
                4px -20px rgba(239,223,255,0),
                5px -20px rgba(239,223,255,0);
  }
}

.loader {
  width: 10px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: #5e41eb;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
}

.loader:before {
  top: -8px;
  left: -13px;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom: 20px solid #5e41eb;
  border-radius: 3px;
}

.loader:after {
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  background: #5e41eb;
  border-radius: 50%;
  animation: loader-bubbles 1s linear infinite forwards;
}