.header {
	background-color: var(--bg);
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
	height: var(--Header-size, 80px);
	justify-content: space-between;
	box-sizing: border-box;
	border: palevioletred 1px solid;
}

.biochemistry-logo{
	display:flex;
	justify-content: flex-center;
	padding: 0px;
	z-index:20;
	width: flex;
	height: flex;
	}

@media (max-height: 80px) {
  .biochemistry-logo {
    width: flex;
    height: flex;
  }
    }