.header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
	height: var(--Header-size, 80px);
	justify-content: space-between;
	box-sizing: border-box;
	/* border: palevioletred 1px solid; */
	display: flex;
}

.biochemistryLogo{
	justify-content: flex-center;
	padding: 0px;
	z-index: 20;
	/* width: 50px; */
	width: flex;
	height: flex;
	cursor: pointer;
}

@media (max-height: 80px) {
	.biochemistry-logo {
		width: flex;
		height: flex;
	}
}