.App{
    text-align: center;
	background-color:black;
	background: black;
	
}

.content-container {
	display:flex;
	flex-direction: row;
	margin:0px;
}

.left-content {
	display:flex;
	flex-direction:column;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 0px;
	background-color:black;
	line-height:5px;
	margin:0px;
}

@media (max-width: 768px) {
  .left-content {
    margin-right: 0;
    margin-bottom: 0px;
	margin:0px;
  }
}

.right-content {
	display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color:black;
	width:100%;
}

@media (max-width: 768px) {
  .right-content {
    margin-left: 0;
  }
}

.header {
    background-color:black;
	color:white;
	width:flex;
	height:60px;
	padding:0px;
	font-size:25px;
	font-weight: 100;
	font-family:sans-serif;
	text-align: center;
	margin:0 0 0 0;
	display: flex;
	justify-content: space-between;
}

.title {
	font-size:25px;
	color:white;
	font-family:sans-serif;
	font-weight: 100;
	text-align: center;
	justify-content: flex;
	border-bottom: 5px black;
	margin: 0px 0 0 0;
	display:flex;
	line-height:30px;
	padding-top:10px
}

.email-me {
	font-size:20px;
	color:white;
	font-family: sans-serif;
	font-weight: 500;
	text-align: center;
	position:relative;
	display:flex;
	margin: 10px;
}

hr {
    border: 0;
    height:0.4px;
	width:75%;
	background:white;
	margin-right:-2px;
	margin-left:20px;
	margin-top: 20px;
    margin: 20px 10;
	align-content: center;
	flex: flex;
	line-height:0%;
}


.h1 {
	text-align: center;
	color:white;
	background-color: black;
	font-size: 18px;
	position:relative;
	margin:0px;
	}

.h2 {
	text-align: center;
	color:#A8A8A8;
	background-color: black;
	font-size: 12px;
	position:relative;
	margin:0px;
	font-family: sans-serif;
	font-weight: 100;
	margin-right: 10px;
	}

.biochemistry-logo{
	display:flex;
	justify-content: flex-center;
	padding: 0px;
	z-index:20;
	}

@media (max-height: 80px) {
  .biochemistry-logo {
    width: flex;
    height: flex;
  }
    }