/* src/CustomButton.css */
.custom-button {
  background-color: white;
  color: blue;
  display: flex;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: auto;
}

.custom-button:hover {
  background-color: aliceblue;
}